body {
  background-color: #535353;
}

.Weather form {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 25px 0 15px 0;
  border-radius: 4px;
}

.searchBar {
  border-image: linear-gradient(#ff006d, #fcde10, #7adf00, #00b1ee) 5 / 1;
}

.WeatherInfo {
  background: #d2d2d2;
  width: 591px;
  height: 586px;
  margin: 0 auto;
  border-radius: 4px;
}

.WeatherInfo h1 {
  font-size: 45px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.WeatherInfo li {
  list-style: none;
}

.WeatherInfo .temperature {
  font-size: 45px;
  font-weight: 700;
  line-height: 30px;
  padding-right: 20px;
}

.WeatherInfo li,
p,
span {
  font-family: Helvetica, sans-serif;
}

.WeatherInfo ul {
  margin-right: 34px;
}

.WeatherInfo footer {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
}

.WeatherInfo footer img {
  width: 50px;
  margin-left: 165px;
}

.DateTime {
  font-size: 16px;
  padding-left: 38px;
}

.WeatherInfo .city-temp {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-left: 38px;
}

.WeatherInfo .Rainbow img {
  padding-top: 90px;
}

.WeatherTemperature .unit {
  font-size: 20px;
}

.WeatherTemperature .unit a {
  text-decoration: none;
}

.WeatherTemperature .unit .celsius {
  color: #00b1ee;
}

.WeatherTemperature .unit .fahrenheit {
  color: #00b1ee;
}
