.Weather form {
  font-family: Helvetica, sans-serif;
}

.WeatherInfo {
  background: #d2d2d2;
  width: 591px;
  height: 586px;
  margin: 0 auto;
  border-radius: 4px;
}

.WeatherInfo h1 {
  font-size: 57.15px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  line-height: 65.72px;
  padding-top: 42px;
  padding-left: 38px;
}

.WeatherInfo li {
  list-style: none;
}

.WeatherInfo span {
  font-size: 57.15px;
  font-weight: 700;
  line-height: 65.72px;
}

.WeatherInfo li,
p,
span {
  font-family: Helvetica, sans-serif;
}

.WeatherInfo ul {
  margin-right: 34px;
}

.WeatherInfo canvas {
  margin: 0 18px 15px 20px;
  display: inline-block;
}

.WeatherInfo footer {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.WeatherInfo footer img {
  width: 50px;
  margin-left: 125px;
}

.DateTime {
  font-size: 16px;
  padding-left: 38px;
}
