.Weather form {
  font-family: Helvetica, sans-serif;
  margin-left: 353px;
  margin-bottom: 15px;
}

.WeatherInfo {
  background: #d2d2d2;
  width: 591px;
  height: 586px;
  margin: 0 auto;
}

.WeatherInfo h1 {
  font-size: 70px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 25px;
}

.WeatherInfo li {
  list-style: none;
}

.WeatherInfo span {
  font-size: 35px;
}

.WeatherInfo li,
p,
span {
  font-family: Helvetica, sans-serif;
}

.WeatherInfo footer {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
